

<p>
  <strong>Name:</strong>
  <%= @topic.subject %>
</p>

<p>
  <strong>Post:</strong>
  <%= markdown(@post.text) %>
</p>

<p>
  <strong>Last poster:</strong>
  <%= @topic.user_id %>
</p>

<p>
  <strong>Last post at:</strong>
  <%= @topic.last_post_at %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic.id), :class => "btn btn-primary" %> 
<%= link_to 'Back', root_path, :class => "btn btn-primary" %>
